.flex-table {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  color: #333; }
  .flex-table .flex-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 1 3em;
    /*border-left: 1px solid $header-color;
    border-right: 1px solid $header-color;*/
    padding: 3px 10px;
    align-items: center;
    flex-direction: row; }
    .flex-table .flex-row:nth-child(2n+0) {
      background: #f2f2f2; }
    .flex-table .flex-row:nth-child(2n+1) {
      background: #fcfcfc; }
    .flex-table .flex-row:last-child {
      /*border-bottom: 1px solid $header-color;*/ }
    .flex-table .flex-row:hover {
      background: #d8d8d8;
      transition: background 100ms ease-in-out; }
  .flex-table .flex-td {
    flex: 4 1; }
    .flex-table .flex-td.small {
      flex: 1 1; }
    .flex-table .flex-td input {
      text-align: center;
      font-size: 1.2em;
      width: 90%;
      font-weight: normal;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #ccc;
      -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
  .flex-table .flex-thead {
    background: #44B6AE !important;
    flex-basis: 3.5em;
    font-size: 1.8rem;
    text-align: center;
    color: #FFF;
    border: 1px solid #44B6AE; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .flex.fcenter {
    align-items: center;
    justify-content: center; }
  .flex.fend {
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 4px; }
  .flex.fstart {
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 4px; }
  .flex.fspacearound {
    justify-content: space-around; }
  .flex.fcolumn {
    flex-direction: column; }
  .flex .frow {
    flex: 1 1 2em; }

.portlet.light {
  margin-bottom: 0; }

.spreadsheet {
  background: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .spreadsheet > div {
    width: 100%; }
  .spreadsheet .header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center; }
    .spreadsheet .header .head-center {
      flex: 5 1;
      text-align: center;
      align-self: flex-start; }
    .spreadsheet .header .head-left, .spreadsheet .header .head-right {
      flex: 1 5 1em;
      color: #A9A9A9;
      align-self: flex-start; }
    .spreadsheet .header .date-name, .spreadsheet .header .field {
      background: black;
      color: white;
      font-size: 1.3em;
      text-transform: uppercase; }
    .spreadsheet .header .time, .spreadsheet .header .date, .spreadsheet .header .date-name, .spreadsheet .header .field {
      font-weight: bold; }
    .spreadsheet .header .time-label {
      text-decoration: underline; }
    .spreadsheet .header .time-details {
      font-size: 0.7em;
      justify-content: flex-end;
      align-items: flex-end; }
  .spreadsheet .team-name, .spreadsheet .teams-goals, .spreadsheet .zone-name {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase; }
  .spreadsheet .player {
    font-size: 1.3rem;
    font-weight: bold; }
    .spreadsheet .player .names span.last-name {
      text-transform: uppercase; }
    .spreadsheet .player .names span.first-name {
      text-transform: capitalize; }
    .spreadsheet .player.right {
      justify-content: flex-end; }
      .spreadsheet .player.right .names {
        margin-right: 1em; }
    .spreadsheet .player.left {
      justify-content: flex-start; }
      .spreadsheet .player.left .names {
        margin-left: 1em; }
    .spreadsheet .player .player-number input {
      width: 30px;
      height: 30px;
      font-size: 1rem;
      text-align: center;
      border: 1px solid #808080; }
      .spreadsheet .player .player-number input.duplicate {
        background: #F44336;
        color: white; }
  .spreadsheet .dt-fields input {
    background: none;
    border: none;
    width: 3em; }
  .spreadsheet .dt-fields label {
    font-weight: bold;
    font-size: 1.3em; }
  .spreadsheet .dt-fields .signature {
    text-align: center; }
  .spreadsheet .goals-bookings {
    margin: 5px; }
    .spreadsheet .goals-bookings div {
      margin: 5px; }
    .spreadsheet .goals-bookings input {
      width: 30px;
      height: 30px;
      text-align: center;
      border: 1px solid #808080;
      margin: 0 2px;
      font-size: 1.6rem;
      font-weight: bold; }
      .spreadsheet .goals-bookings input::-webkit-input-placeholder {
        font-size: 0.5em !important; }
      .spreadsheet .goals-bookings input:-moz-placeholder {
        /* Firefox 18- */
        font-size: 0.5em !important; }
      .spreadsheet .goals-bookings input::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 0.5em !important; }
      .spreadsheet .goals-bookings input:-ms-input-placeholder {
        font-size: 0.5em !important; }
    .spreadsheet .goals-bookings .nro {
      border: 2px solid black; }
    .spreadsheet .goals-bookings .goal {
      border: 1px solid #808080;
      background-image: url("/img/futbol-transparent.svg") !important;
      background-size: 100%;
      background-repeat: no-repeat; }
    .spreadsheet .goals-bookings .yellow {
      background-color: #f9ce1e; }
    .spreadsheet .goals-bookings .red {
      background-color: #DB3126; }
    .spreadsheet .goals-bookings .yellow, .spreadsheet .goals-bookings .red {
      border-radius: 15px !important;
      border: none;
      width: 26px;
      height: 26px;
      -webkit-user-select: none;
      /* Chrome all / Safari all */
      -moz-user-select: none;
      /* Firefox all */
      -ms-user-select: none;
      /* IE 10+ */
      /* No support for these yet, use at own risk */
      -o-user-select: none;
      user-select: none; }
    .spreadsheet .goals-bookings .own-goal .nro {
      background-color: #DB3126;
      color: white;
      border: 1px solid #F2F2F2; }
    .spreadsheet .goals-bookings .own-goal .yellow {
      background-color: #ccc; }
    .spreadsheet .goals-bookings .own-goal .red {
      background-color: #ccc; }
  .spreadsheet .team-goals {
    border: 2px solid black;
    border-radius: 1.5rem !important;
    width: 3rem;
    height: 3rem;
    margin: 0 10px; }
  .spreadsheet .referee {
    margin: 10px; }
    .spreadsheet .referee .referee-name {
      font-size: 1.2em;
      font-weight: bold;
      text-transform: uppercase; }
    .spreadsheet .referee input {
      border: none;
      border-bottom: 1px solid #f2f2f2;
      margin: 20px 0 0; }
  .spreadsheet .own-goal-button-container {
    position: relative;
    width: 100px;
    height: 0px;
    bottom: 12rem; }
    .spreadsheet .own-goal-button-container .own-goal-button {
      padding: 0;
      margin: 0;
      background: #F2F2F2;
      border: none;
      font-size: 1.3rem;
      font-weight: bold;
      color: #333;
      text-transform: uppercase; }
      .spreadsheet .own-goal-button-container .own-goal-button.pressed {
        background: black;
        color: white; }
  .spreadsheet .referee-score > div {
    width: 2.8em;
    height: 2.8em;
    border-radius: 1.4em !important;
    border: 2px solid black;
    margin: 10px;
    font-size: 1.2em;
    font-weight: bold; }
  .spreadsheet .signatures {
    margin: 1em; }
    .spreadsheet .signatures .signature {
      border: none;
      border-bottom: 1px solid #f2f2f2; }
    .spreadsheet .signatures .signature-label {
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase; }
  .spreadsheet .zone-name {
    font-size: 4rem; }
  .spreadsheet .team-color-input input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em; }
  .spreadsheet .hundredp {
    width: 100%; }
  .spreadsheet .logo {
    background-image: url("/img/logotw-black.svg");
    width: 30px;
    height: 30px;
    background-size: 30px 30px; }

@media print {
  ::-webkit-input-placeholder {
    opacity: 0.2; }

  :-moz-placeholder {
    /* Firefox 18- */
    opacity: 0.2; }

  ::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 0.2; }

  :-ms-input-placeholder {
    opacity: 0.2; }

  .page-top, .page-header.navbar {
    display: none; }

  .page-container-bg-solid .page-content, body {
    background: transparent;
    border: none;
    padding: 0 !important; }

  .portlet.light {
    display: none; }

  .spreadsheet .players-list {
    top: -3em;
    position: relative; }
  .spreadsheet .time-label {
    opacity: 0.2;
    font-size: 1em; }
  .spreadsheet .team-color-input input {
    font-size: 1.2em; }
  .spreadsheet .player .player-number input {
    width: 25px;
    height: 25px;
    font-size: 0.8rem; }
  .spreadsheet .flex-table .flex-row {
    flex: 1 1 2.3em; }
  .spreadsheet .dt-fields label, .spreadsheet .referee-name {
    font-size: 1em !important; }
  .spreadsheet .referee input {
    margin: 0 10px; }
  .spreadsheet .signatures {
    margin: 0.3em 1em; }
  .spreadsheet .own-goal-button-container {
    display: none; }

  .goals-bookings .goal {
    border: 1px solid #808080;
    background-image: url("/img/futbol.svg") !important;
    background-size: 100%;
    background-repeat: no-repeat; } }

/*# sourceMappingURL=matches-view.css.map */
