$header-color:#44B6AE;
$row-color-1:#f2f2f2;
$row-color-2:darken(#fff,1);

@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex-table{
	@include flexbox();
	flex-direction:column;
	color: #333;

	.flex-row{
		@include flexbox();
		flex:1 1 3em;
		/*border-left: 1px solid $header-color;
		border-right: 1px solid $header-color;*/
		padding: 3px 10px;
		align-items: center;
		flex-direction: row;

		&:nth-child(2n+0){
			background: $row-color-1;
		}

		&:nth-child(2n+1){
			background: $row-color-2;
		}

		&:last-child{
			/*border-bottom: 1px solid $header-color;*/
		}

		&:hover{
			background:darken($row-color-1,10);
			transition: background 100ms ease-in-out;
		}
	}

	.flex-td{
		flex:4 1;

		&.small{
			flex: 1 1;
		}

		input{
			text-align: center;
			font-size: 1.2em;
			width:90%;
			font-weight: normal;
			background-color: rgba(0,0,0,0);
			border: none;
			border-bottom:1px solid #ccc;
			-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		}
	}

	.flex-thead{
		background: $header-color !important;
		flex-basis: 3.5em;
		font-size: 1.8rem;
		text-align: center;
		color: #FFF;
		border: 1px solid $header-color;
	}

}

.spreadsheet *{
	// border:1px solid black;
}

.flex{
  @include flexbox();
  &.fcenter{
  	align-items:center;
  	justify-content: center;
  }
  &.fend{
  	align-items:flex-end;
  	margin-right:4px;
  }
  &.fstart{
  	align-items: flex-start;
  	margin-left:4px;
  }

  &.fcolumn{
  	flex-direction:column;
  }
  .frow{
    flex:1 1 2em;
  }
}

.spreadsheet{

	background:white;

	@include flexbox();
	flex-direction:column;

	justify-content: center;
	align-items: center;
	text-align:center;

	&>div{
		width:100%;
	}

	.header{

		@include flexbox();

		.head-center{
			flex: 5 1;
			text-align:center;
		}

		.head-left,.head-right{
			flex:1 5 1em;
		}

		align-items:center;

	}

	.team-name,.teams-goals,.zone-name{
		font-size: 2rem;
		font-weight: bold;
		text-transform: uppercase;
	}

	.player{
		font-size: 1.3rem;
		font-weight: bold;

		.last-name span{
			text-transform: uppercase;
		}

		.first-name span{
			text-transform:capitalize;
		}

		&.right{
			justify-content: flex-end;
			.last-name{
				margin-right:1em;
			}
		}

		&.left{
			justify-content: flex-start;
			.last-name{
				margin-left:1em;
			}
		}

		.player-number input{
			width: 30px;
			height: 30px;
			font-size: 1rem;
			text-align: center;
			border: 1px solid #808080;
		}

	}

	.team-goals{
		border:2px solid black;
		border-radius:1.5rem !important;
		width: 3rem;
		height: 3rem;
		margin: 0 10px;
	}

	.zone-name{
		font-size: 4rem;
	}

	.team-color-input input{
		background:rgba(0,0,0,0);
		border:none;
		border-bottom:1px solid #ccc;
		text-align: center;
		text-transform: uppercase;
		font-size: 2em;
	}

}

@media print{
	.spreadsheet{
		// width: 18cm;
		// position: absolute;
		// left: 0;
	}
}
@page {
  size: A4;
  margin: 0;
}