.cbp-mc-form {
	position: relative;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cbp-mc-form:before,
.cbp-mc-form:after {
	content: " "; display: table;
}

.cbp-mc-form:after {
	clear: both;
}

.cbp-mc-column {
	width: 33%;
	padding: 10px 30px;
	float: left;
}

.cbp-mc-form label {
	display: block;
	padding: 40px 5px 5px 2px;
	font-size: 1.1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
}

.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select,
.fileinput .btn {
	font-family: 'Roboto', Calibri, Arial, sans-serif;
	line-height: 1.5;
	font-size: 1.2em;
	padding: 5px 10px;
	color: #FFFFFF;
	display: block;
	width: 100%;
	background: rgba(0, 0, 0, 0);
	border: 3px solid white;
}

.cbp-mc-form select:focus {
	background: #6A7981;
}

.fileinput .btn{
    border: none;
}

.cbp-mc-form input,
.cbp-mc-form textarea {
	border: 3px solid #FFF;
}

.cbp-mc-form textarea {
	min-height: 200px;
}

.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
	outline: none;
	border: 3px solid #CDCDCD;
}

.cbp-mc-form select:focus {
	outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(56, 56, 56, 0.3);
    font-weight: bold;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(56, 56, 56, 0.3);
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(56, 56, 56, 0.3);
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgba(56, 56, 56, 0.3);
}

.cbp-mc-submit-wrap {
	text-align: center;
	padding: 40px;
	clear: both;
}

.cbp-mc-form input.cbp-mc-submit, .cbp-mc-form a.cbp-mc-submit {
	background: #10689a;
	border: none;
	color: #fff;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 1.1em;
	border-radius: 2px;
	letter-spacing: 1px;
	font-weight: bold;
}

.cbp-mc-form a.cbp-mc-submit{
	background: #000;
}

.cbp-mc-form input.cbp-mc-submit:hover {
	background: #1478b1;
}

@media screen and (max-width: 70em) {
	.cbp-mc-column {
		width: 50%;
	}
	.cbp-mc-column:nth-child(3) {
		width: 100%;
	}
}

@media screen and (max-width: 48em) {
	.cbp-mc-column {
		width: 100%;
		padding: 10px;
	}
}

div.cs-skin-boxes {
	background: transparent;
	font-size: 0.65em;
	font-weight: 700;
	max-width: 300px;
	z-index: 2000;
	color: #fff;
}

@media screen and (max-width: 30em) {
	div.cs-skin-boxes { font-size: 1em; }
}

.cs-skin-boxes > span {
	border: 3px solid #292c30;
	border-radius: 5px;
	width: 150px;
	height: 140px;
	font-size: 0.5em;
	padding: 0 0 0 10px;
	background: #555b64;
}

div.cs-skin-boxes:focus > span {
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
}

.cs-skin-boxes > span::before {
	content: '';
	display: block;
	padding-top: 110px;
	margin-left: -10px;
	box-shadow: 0 25px 0 #292c30, inset 0 -10px #292c30;
}

.cs-skin-boxes > span::after,
.cs-skin-boxes.cs-active > span::after {
	top: auto;
	-webkit-transform: none;
	transform: none;
}

.cs-skin-boxes .cs-options {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: auto;
	background: #575757;
	font-size: 12px;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

.cs-skin-boxes.cs-active .cs-options {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.cs-skin-boxes .cs-options ul {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.cs-skin-boxes .cs-options li {
	width: 20%;
	height: 25%;
	float: left;
	position: relative;
	cursor: pointer;
	border-radius: 14px;
	overflow: hidden;
	opacity: 0;
	color: rgba(255,255,255,0.6);
	border: 10px solid transparent;
	background-clip: padding-box;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

@media screen and (max-width: 30em) {
	.cs-skin-boxes .cs-options li { box-shadow: none; border-width: 3px; border-radius: 8px;}
}

.cs-skin-boxes.cs-active .cs-options li {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(2) {
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(3) {
	-webkit-transition-delay: 0.02s;
	transition-delay: 0.02s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(4) {
	-webkit-transition-delay: 0.03s;
	transition-delay: 0.03s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(5) {
	-webkit-transition-delay: 0.04s;
	transition-delay: 0.04s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(6) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(7) {
	-webkit-transition-delay: 0.06s;
	transition-delay: 0.06s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(8) {
	-webkit-transition-delay: 0.07s;
	transition-delay: 0.07s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(9) {
	-webkit-transition-delay: 0.08s;
	transition-delay: 0.08s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(10) {
	-webkit-transition-delay: 0.09s;
	transition-delay: 0.09s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(11) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(12) {
	-webkit-transition-delay: 0.11s;
	transition-delay: 0.11s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(13) {
	-webkit-transition-delay: 0.12s;
	transition-delay: 0.12s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(14) {
	-webkit-transition-delay: 0.13s;
	transition-delay: 0.13s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(15) {
	-webkit-transition-delay: 0.14s;
	transition-delay: 0.14s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(16) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(17) {
	-webkit-transition-delay: 0.16s;
	transition-delay: 0.16s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(18) {
	-webkit-transition-delay: 0.17s;
	transition-delay: 0.17s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(19) {
	-webkit-transition-delay: 0.18s;
	transition-delay: 0.18s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(20) {
	-webkit-transition-delay: 0.19s;
	transition-delay: 0.19s;
}

.cs-skin-boxes .cs-options li.cs-selected::after {
	content: '\2714';
	color: rgba(0,0,0,0.1);
	position: absolute;
	font-size: 2em;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0) translate3d(0,-1em,0);
	transform: translate3d(-50%,-50%,0) translate3d(0,-1em,0);
}

.cs-skin-boxes .cs-options li.cs-selected span::after {
	content: '';
}

@media screen and (max-width: 30em) {
	.cs-skin-boxes .cs-options li.cs-selected::after {
		-webkit-transform: translate3d(-50%,-50%,0);
		transform: translate3d(-50%,-50%,0);
	}
}

.cs-skin-boxes .cs-options li.color-8E1827 {
	background-color: #8E1827;
}
.cs-skin-boxes .cs-options li.color-D32E2E {
	background-color: #D32E2E;
}
.cs-skin-boxes .cs-options li.color-D64526 {
	background-color: #D64526;
}
.cs-skin-boxes .cs-options li.color-EC7023 {
	background-color: #EC7023;
}
.cs-skin-boxes .cs-options li.color-F9BF2B {
	background-color: #F9BF2B;
}
.cs-skin-boxes .cs-options li.color-FDF59F {
	background-color: #FDF59F;
}
.cs-skin-boxes .cs-options li.color-692C90 {
	background-color: #692C90;
}
.cs-skin-boxes .cs-options li.color-9A519F {
	background-color: #9A519F;
}
.cs-skin-boxes .cs-options li.color-C389BC {
	background-color: #C389BC;
}
.cs-skin-boxes .cs-options li.color-F27FAA {
	background-color: #F27FAA;
}
.cs-skin-boxes .cs-options li.color-33429A {
	background-color: #33429A;
}
.cs-skin-boxes .cs-options li.color-478FCC {
	background-color: #478FCC;
}
.cs-skin-boxes .cs-options li.color-9CD9E5 {
	background-color: #9CD9E5;
}
.cs-skin-boxes .cs-options li.color-004D40 {
	background-color: #004D40;
}
.cs-skin-boxes .cs-options li.color-03897B {
	background-color: #03897B;
}
.cs-skin-boxes .cs-options li.color-378E43 {
	background-color: #378E43;
}
.cs-skin-boxes .cs-options li.color-8EC63E {
	background-color: #8EC63E;
}
.cs-skin-boxes .cs-options li.color-000000 {
	background-color: #000000;
}
.cs-skin-boxes .cs-options li.color-BDBCBC {
	background-color: #BDBCBC;
}
.cs-skin-boxes .cs-options li.color-FFFFFF {
	background-color: #FFFFFF;
}

.cs-skin-boxes .cs-options span {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 2em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

div.color-sample{
	width: 3rem !important;
	height: 3rem !important;
	border: 3px solid #FFF;
	border-radius: 1.5rem;
}

div.colors{
}

div.colors > div {
	margin: 1em 0 0 0;
	cursor: pointer;
}

div.colors .text{

}

div.color-selector span{
	text-align:left;
}

@media screen and (max-width: 30em) {
	.cs-skin-boxes .cs-options span { display: none; }

	div.colors .text{
		position: relative;
		left: 1em;
	}
}

.cs-skin-boxes .cs-options li span:hover,
.cs-skin-boxes li.cs-focus span,
.cs-skin-boxes li.cs-selected span {
	color: #fff;
}