/*****************************/
/* Flip */
/*****************************/

.tabs-style-flip {
	max-width: 1200px;
}

.tabs-style-flip nav a {
	padding: 0.5em 0;
	color: #94979A;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.tabs-style-flip nav a:hover,
.tabs-style-flip nav a:focus,
.tabs-style-flip nav li.tab-current a {
	color: #FFFFFF;
}

.tabs-style-flip nav li:nth-child(2) {
	flex: 2 !important;
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	-webkit-flex: 2;
	-ms-flex: 2;
}

.tabs-style-flip nav a span {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 0.625em;
}

.tabs-style-flip nav a::after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
	-webkit-transform: perspective(900px) rotate3d(1,0,0,90deg);
	transform: perspective(900px) rotate3d(1,0,0,90deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-perspective-origin: 50% 100%;
	perspective-origin: 50% 100%;
}

.tabs-style-flip nav li.tab-current a::after {
	background-color: rgba(119, 143, 155, 0.8);
	-webkit-transform: perspective(900px) rotate3d(1,0,0,0deg);
	transform: perspective(900px) rotate3d(1,0,0,0deg);
}

.tabs-style-flip .content-wrap {
	background: rgba(119, 143, 155, 0.8);
	height:500px;
	/* background-image: url(/img/background.svg); */
	/* background-position: 0 0; */
	/* background-size: cover; */
}